{
  "openapi": "3.0.4",
  "info": {
    "title": "加值資訊-公車-站間旅行時間/站站班表​",
    "description": "本平臺提供涵蓋全國尺度之交通旅運資料服務API，歡迎各產政學單位介接使用。\n<br><span class=swagger-description-indicatation>利用本平臺開放資料進行各項應用服務開發時，請考量不同特性使用者(如：性別/身心障礙/老幼等)的需求，並歡迎回饋寶貴意見。</span>\n<br>計費方式：\n<br>計次：10次/1點\n<br>計量：1MB/10點\n---\n##### API使用說明與注意事項：\n1. 如您尚未註冊平臺會員帳號，或未以帳號登入，您將僅能以「訪客模式」使用平臺服務，包含：限以瀏覽器存取，限使用`【基礎服務】`，且限制每個呼叫來源端IP每日存取至多20次。。\n2. 如您已註冊平臺會員帳號，請務必確保在存取服務(包含瀏覽器、程式呼叫API)時帶入您的API金鑰，方能以「會員模式」使用完整平臺服務，包含平臺各類資料服務，如`【基礎服務】`、`【進階服務】`、`【加值服務】`、`【歷史服務】`、`【圖資服務】`、`【第三方服務】`等。\n3. 建議您立即[註冊平臺會員帳號](/register)，依您用量需求訂閱服務方案，並於[【會員中心->資料服務->API金鑰】](/user/dataservice/key)取得API金鑰(即Client Id和Client Secret資訊)。\n4. 會員訂閱服務方案之級別不同，將決定其API金鑰之存取頻率有不同限制，各個方案的存取頻率限制說明請參考[訂閱收費](/pricing)。\n5. 以瀏覽器帶入API金鑰之操作方式：請點選Swagger UI上的Authorize按鈕，依指示填入Client Id和Client Secret資訊並進行驗證，驗證完成後可開始於Swagger UI使用API。\n6. 以程式呼叫API帶入API金鑰之操作方式：請參考[範例程式](https://github.com/tdxmotc/SampleCode)。\n7. 不論您是以瀏覽器或是以程式呼叫API，所有服務存取行為均將被記錄並定期檢視，以確保系統資源使用的合理分配與避免遭受濫用。\n\nAPI OAS文本 :[請點我](https://tdx.transportdata.tw/webapi/File/Swagger/V3/b22c71d8-5af0-4de2-ab0a-be28983fa051)",
    "termsOfService": "https://tdx.transportdata.tw/term",
    "contact": {
      "name": "TDX客服信箱",
      "email": "tdx@motc.gov.tw"
    },
    "version": "v3"
  },
  "servers": [
    {
      "url": "https://tdx.transportdata.tw/api/premium"
    }
  ],
  "paths": {
    "/V3/Map/Estimation/Bus/Schedule/City/{City}/RouteName/{RouteName}": {
      "get": {
        "tags": [
          "Estimation"
        ],
        "summary": "取得指定[縣市][公車路線]之歷史推估班表",
        "description": "取得指定[縣市][公車路線]之歷史推估班表清單<br />\r\n            路線名稱 參考 <a target=\"_blank\" href=\"https://tdx.transportdata.tw/api-service/swagger/basic/30bc573f-0d73-47f2-ac3c-37c798b86d37#/Basic/TransportNetwork_03003\">取得指定縣市之市區公車路線引用參數</a>",
        "operationId": "TransportNetwork_03023",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty",
                "LienchiangCounty"
              ],
              "type": "string",
              "default": "Taipei"
            },
            "x-enum": {
              "Taipei": "臺北市",
              "NewTaipei": "新北市",
              "Taoyuan": "桃園市",
              "Taichung": "臺中市",
              "Tainan": "臺南市",
              "Kaohsiung": "高雄市",
              "Keelung": "基隆市",
              "Hsinchu": "新竹市",
              "HsinchuCounty": "新竹縣",
              "MiaoliCounty": "苗栗縣",
              "ChanghuaCounty": "彰化縣",
              "NantouCounty": "南投縣",
              "YunlinCounty": "雲林縣",
              "ChiayiCounty": "嘉義縣",
              "Chiayi": "嘉義市",
              "PingtungCounty": "屏東縣",
              "YilanCounty": "宜蘭縣",
              "HualienCounty": "花蓮縣",
              "TaitungCounty": "臺東縣",
              "KinmenCounty": "金門縣",
              "PenghuCounty": "澎湖縣",
              "LienchiangCounty": "連江縣"
            }
          },
          {
            "name": "RouteName",
            "in": "path",
            "description": "路線名稱",
            "required": true,
            "schema": {
              "type": "string",
              "default": "南環幹線"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "JSON / XML",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string",
              "default": "JSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "呼叫成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleViewModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleViewModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          }
        }
      }
    },
    "/V3/Map/Estimation/Bus/Schedule/InterCity/RouteName/{RouteName}": {
      "get": {
        "tags": [
          "Estimation"
        ],
        "summary": "取得指定公路客運之歷史推估班表",
        "description": "取得指定公路客運之歷史推估班表<br />\r\n            路線名稱 參考 <a target=\"_blank\" href=\"https://tdx.transportdata.tw/api-service/swagger/basic/30bc573f-0d73-47f2-ac3c-37c798b86d37#/Basic/TransportNetwork_03004\">取得公路客運之路線引用參數</a>",
        "operationId": "TransportNetwork_03024",
        "parameters": [
          {
            "name": "RouteName",
            "in": "path",
            "description": "路線名稱",
            "required": true,
            "schema": {
              "type": "string",
              "default": "9069"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "JSON / XML",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string",
              "default": "JSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "呼叫成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleViewModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleViewModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          }
        }
      }
    },
    "/V3/Map/Estimation/Bus/S2STravelTime/City/{City}/RouteName/{RouteName}": {
      "get": {
        "tags": [
          "Estimation"
        ],
        "summary": "取得指定[縣市][公車路線]站間旅行時間資訊(歷史推估)",
        "description": "取得指定[縣市][公車路線]站間旅行時間資訊(歷史推估)<br />\r\n            路線名稱 參考 <a target=\"_blank\" href=\"https://tdx.transportdata.tw/api-service/swagger/basic/30bc573f-0d73-47f2-ac3c-37c798b86d37#/Basic/TransportNetwork_03003\">取得指定縣市之市區公車路線引用參數</a>",
        "operationId": "TransportNetwork_03025",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "schema": {
              "enum": [
                "Taipei",
                "NewTaipei",
                "Taoyuan",
                "Taichung",
                "Tainan",
                "Kaohsiung",
                "Keelung",
                "Hsinchu",
                "HsinchuCounty",
                "MiaoliCounty",
                "ChanghuaCounty",
                "NantouCounty",
                "YunlinCounty",
                "ChiayiCounty",
                "Chiayi",
                "PingtungCounty",
                "YilanCounty",
                "HualienCounty",
                "TaitungCounty",
                "KinmenCounty",
                "PenghuCounty",
                "LienchiangCounty"
              ],
              "type": "string",
              "default": "Taipei"
            },
            "x-enum": {
              "Taipei": "臺北市",
              "NewTaipei": "新北市",
              "Taoyuan": "桃園市",
              "Taichung": "臺中市",
              "Tainan": "臺南市",
              "Kaohsiung": "高雄市",
              "Keelung": "基隆市",
              "Hsinchu": "新竹市",
              "HsinchuCounty": "新竹縣",
              "MiaoliCounty": "苗栗縣",
              "ChanghuaCounty": "彰化縣",
              "NantouCounty": "南投縣",
              "YunlinCounty": "雲林縣",
              "ChiayiCounty": "嘉義縣",
              "Chiayi": "嘉義市",
              "PingtungCounty": "屏東縣",
              "YilanCounty": "宜蘭縣",
              "HualienCounty": "花蓮縣",
              "TaitungCounty": "臺東縣",
              "KinmenCounty": "金門縣",
              "PenghuCounty": "澎湖縣",
              "LienchiangCounty": "連江縣"
            }
          },
          {
            "name": "RouteName",
            "in": "path",
            "description": "路線名稱",
            "required": true,
            "schema": {
              "type": "string",
              "default": "南環幹線"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "JSON / XML",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string",
              "default": "JSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "呼叫成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S2STravelTimeViewModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/S2STravelTimeViewModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          }
        }
      }
    },
    "/V3/Map/Estimation/Bus/S2STravelTime/InterCity/RouteName/{RouteName}": {
      "get": {
        "tags": [
          "Estimation"
        ],
        "summary": "取得指定公路客運站間旅行時間資訊(歷史推估)",
        "description": "取得指定公路客運站間旅行時間資訊(歷史推估)<br />\r\n            路線名稱 參考 <a target=\"_blank\" href=\"https://tdx.transportdata.tw/api-service/swagger/basic/30bc573f-0d73-47f2-ac3c-37c798b86d37#/Basic/TransportNetwork_03004\">取得公路客運之路線引用參數</a>",
        "operationId": "TransportNetwork_03026",
        "parameters": [
          {
            "name": "RouteName",
            "in": "path",
            "description": "路線名稱",
            "required": true,
            "schema": {
              "type": "string",
              "default": "9069"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "JSON / XML",
            "required": true,
            "schema": {
              "enum": [
                "JSON",
                "XML"
              ],
              "type": "string",
              "default": "JSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "呼叫成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S2STravelTimeViewModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/S2STravelTimeViewModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { },
              "application/xml": { }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ScheduleViewModel": {
        "title": "ScheduleViewModel",
        "type": "object",
        "properties": {
          "EffectiveDate": {
            "type": "string",
            "description": "有效起始日期"
          },
          "ExpireDate": {
            "type": "string",
            "description": "有效終止日期"
          },
          "UpdateTime": {
            "type": "string",
            "description": "[平臺]資料更新日期時間"
          },
          "UpdateInterval": {
            "type": "integer",
            "description": "[平臺]資料更新週期(月)",
            "format": "int32"
          },
          "ValidityDescription": {
            "type": "string",
            "description": "時刻表適用情形說明"
          },
          "RouteUID": {
            "type": "string",
            "description": "路線唯一識別代碼，規則為 {業管機關簡碼} + {RouteID}其中 {業管機關簡碼} 可於Authority API(PTX)中的AuthorityCode欄位查詢"
          },
          "RouteID": {
            "type": "string",
            "description": "地區既用中之路線代碼"
          },
          "RouteName": {
            "type": "string",
            "description": "路線名稱"
          },
          "Schedules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Schedules"
            },
            "description": "資料列表"
          }
        },
        "description": "班表 ViewModel"
      },
      "Schedules": {
        "title": "Schedules",
        "type": "object",
        "properties": {
          "SubRouteUID": {
            "type": "string",
            "description": "附屬路線唯一識別代碼，規則為 {業管機關簡碼} + {SubRouteID}其中 {業管機關簡碼} 可於Authority API(PTX)中的AuthorityCode欄位查詢"
          },
          "SubRouteID": {
            "type": "string",
            "description": "地區既用中之附屬路線代碼"
          },
          "SubRouteName": {
            "type": "string",
            "description": "路線名稱"
          },
          "Direction": {
            "type": "integer",
            "description": "去返程 : [0:'去程'1:'返程'2:'迴圈'255:'未知']",
            "format": "int32"
          },
          "Timetables": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Timetables"
            },
            "description": "預定時刻表"
          }
        },
        "description": "資料列表"
      },
      "Timetables": {
        "title": "Timetables",
        "type": "object",
        "properties": {
          "StopTimes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StopTimes"
            },
            "description": "公車停靠時間資料"
          },
          "ServiceDay": {
            "$ref": "#/components/schemas/ServiceDay"
          }
        },
        "description": "預定時刻表"
      },
      "ServiceDay": {
        "title": "ServiceDay",
        "type": "object",
        "properties": {
          "ServiceTag": {
            "type": "string",
            "description": "服務日標籤(0: 周末weekend; 1: 平日weekdays)"
          }
        },
        "description": "服務日型態"
      },
      "StopTimes": {
        "title": "StopTimes",
        "type": "object",
        "properties": {
          "StopSequence": {
            "type": "integer",
            "description": "路線經過站牌之順序(由1開始)",
            "format": "int32"
          },
          "StopUID": {
            "type": "string",
            "description": "站牌唯一識別代碼規則為 {業管機關代碼}+ {StopID}其中 {業管機關代碼} 可於Authority API(PTX)中的AuthorityCode欄位查詢"
          },
          "StopID": {
            "type": "string",
            "description": "地區既用中之站牌代碼(為原資料內碼)"
          },
          "StopName": {
            "$ref": "#/components/schemas/StopName"
          },
          "StationUID": {
            "type": "string",
            "description": "站位唯一識別代碼規則為 {業管機關代碼}+ {StationID}其中 {業管機關代碼} 可於Authority API(PTX)中的AuthorityCode欄位查詢"
          },
          "StationID": {
            "type": "string",
            "description": "地區既用中之站位代碼(為原資料內碼)"
          },
          "HistoricalEstArrivalTime": {
            "type": "string",
            "description": "歷史推估到站時間(HH:mm)"
          },
          "HistoricalEstArrivalTimeSD": {
            "type": "number",
            "description": "歷史推估到站時間標準差(分)",
            "format": "double"
          },
          "TimeType": {
            "type": "integer",
            "description": "時刻表時間類型(0:表定時間Scheduled Time ; 1: 估算時間Estimated Time)",
            "format": "int32"
          }
        },
        "description": "公車停靠時間資料"
      },
      "StopName": {
        "title": "StopName",
        "type": "object",
        "properties": {
          "Zh_tw": {
            "type": "string",
            "description": "中文繁體名稱"
          }
        },
        "description": "站牌名稱"
      },
      "S2STravelTimeViewModel": {
        "title": "S2STravelTimeViewModel",
        "type": "object",
        "properties": {
          "EffectiveDate": {
            "type": "string",
            "description": "有效起始日期"
          },
          "ExpireDate": {
            "type": "string",
            "description": "有效終止日期"
          },
          "UpdateTime": {
            "type": "string",
            "description": "[平臺]資料更新日期時間"
          },
          "UpdateInterval": {
            "type": "integer",
            "description": "[平臺]資料更新週期(月)",
            "format": "int32"
          },
          "ValidityDescription": {
            "type": "string",
            "description": "時刻表適用情形說明"
          },
          "RouteUID": {
            "type": "string",
            "description": "路線唯一識別代碼，規則為 {業管機關簡碼} + {RouteID}其中 {業管機關簡碼} 可於Authority API(PTX)中的AuthorityCode欄位查詢"
          },
          "RouteID": {
            "type": "string",
            "description": "地區既用中之路線代碼"
          },
          "RouteName": {
            "type": "string",
            "description": "路線名稱"
          },
          "SubRouteUID": {
            "type": "string",
            "description": "附屬路線唯一識別代碼，規則為 {業管機關簡碼} + {SubRouteID} 其中 {業管機關簡碼} 可於Authority API(PTX)中的AuthorityCode欄位查詢"
          },
          "SubRouteID": {
            "type": "string",
            "description": "地區既用中之附屬路線代碼"
          },
          "SubRouteName": {
            "type": "string",
            "description": "路線名稱"
          },
          "Direction": {
            "type": "integer",
            "description": "去返程:[0:'去程'1:'返程'2:'迴圈'255:'未知']",
            "format": "int32"
          },
          "TravelTimes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TravelTime"
            },
            "description": "站間運行時間資訊"
          }
        },
        "description": "旅行時間 ViewModel"
      },
      "TravelTime": {
        "title": "TravelTime",
        "type": "object",
        "properties": {
          "Sequence": {
            "type": "integer",
            "description": "站間序號",
            "format": "int32"
          },
          "FromStopID": {
            "type": "string",
            "description": "起站站牌代碼"
          },
          "ToStopID": {
            "type": "string",
            "description": "迄站站牌代碼"
          },
          "RunTime": {
            "type": "number",
            "description": "站間預估行駛時間(秒)",
            "format": "double"
          },
          "StartTime": {
            "type": "string",
            "description": "開始時間(HH:mm 制)"
          },
          "EndTime": {
            "type": "string",
            "description": "結束時間(HH:mm 制)"
          },
          "ServiceTag": {
            "type": "string",
            "description": "服務日標籤(0: 周末weekend; 1: 平日weekdays)"
          }
        },
        "description": "站間運行時間資訊"
      }
    },
    "securitySchemes": {
      "TDX": {
        "type": "oauth2",
        "description": "TDX會員可至【會員專區-資料服務-服務金鑰】功能頁面，從預設金鑰(或建立新的金鑰)取得Client Id和Client Secret資訊，分別輸入至下方client_id和client_secret欄位、按下Authorize按鈕，即可開始於Swagger介面呼叫TDX API。",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://tdx.transportdata.tw/auth/realms/TDXConnect/protocol/openid-connect/token",
            "scopes": { }
          }
        }
      }
    }
  },
  "security": [
    {
      "TDX": [ ]
    }
  ],
  "tags": [
    {
      "name": "Estimation",
      "description": "推估"
    }
  ]
}